In [1]:
import numpy as np
import pickle
from sqlalchemy import create_engine, inspect
import pandas as pd

table = "players"
with open(f'{table}.pkl', 'rb') as handle:
    dict = pickle.load(handle)

df = pd.DataFrame(dict)
df.index = df.id
df.drop(columns=["id"], inplace=True)

In [2]:
df.head()

,display_name,birth_year,nationality,second_nationality,prefered_foot,position,full_name,height,weight
id,,,,,,,,,
457,Lazar Radojicic,2003,Sérvia,NA,Direito,Guarda Redes,Lazar Radojicic,0,0
458,Matheus Teixeira,1999,Brasil,NA,Direito,Guarda Redes,Matheus Henrique Teixeira,187,79
459,Cezary Miszta,2001,Polónia,NA,Direito,Guarda Redes,Cezary Miszta,193,80
460,Jho,1991,Brasil,NA,Direito,Guarda Redes,Jhonatan Luiz da Siqueira,190,82
461,Antzelo Sina,2004,Albânia,Grécia,Direito,Guarda Redes,Antzelo Sina,186,76

In [3]:
df.birth_year = pd.to_numeric(df.birth_year)

In [4]:
user = "neondb_owner"
password = np.loadtxt("./neon_password.txt", dtype=str)
host = "ep-wild-night-a9bq078j-pooler.gwc.azure.neon.tech"
db = "xG"
engine = create_engine(f'postgresql://{user}:{password}@{host}/{db}')

In [5]:
inspector = inspect(engine)

In [7]:
df.to_sql(table, con=engine, if_exists="append")

79