In [ ]:
import numpy as np
import pickle
import sqlalchemy as db
import pandas as pd

table = "players"
if table == "players":
    join_column = "full_name"
else:
    join_column = "name"
with open(f'{table}.pkl', 'rb') as handle:
    dict = pickle.load(handle)

df = pd.DataFrame(dict)
df.index = df.id
df.drop(columns=["id"], inplace=True)

In [ ]:
df.head()

NameError: name 'df' is not defined

In [ ]:
df.birth_year = pd.to_numeric(df.birth_year)

In [16]:
user = "neondb_owner"
password = np.loadtxt("./neon_password.txt", dtype=str)
host = "ep-wild-night-a9bq078j-pooler.gwc.azure.neon.tech"
database = "xG"
engine = db.create_engine(f'postgresql://{user}:{password}@{host}/{database}')
meta_data = db.MetaData()
meta_data.reflect(bind=engine) #extracting the metadata

In [ ]:
with engine.connect() as conn:
    existing = pd.read_sql(table, conn)

In [ ]:
existing_ids = df.merge(existing, left_on="full_name", right_on="full_name").id_x.values
df[~np.isin(df.id.values, existing_ids)]

,id,display_name,nationality,second_nationality,prefered_foot,position,full_name,birth_year,height,weight
0,1,Ander Astralaga,Espanha,NA,Direito,Guarda Redes,Ander Astralaga Aranguren,2004,190.0,82.0
1,3,Iñaki Peña,Espanha,NA,Direito,Guarda Redes,Ignacio Peña Sostres,1999,184.0,78.0

In [ ]:
df.to_sql(table, con=engine, if_exists="append")