In [16]:
import numpy as np
import pickle
from sqlalchemy import create_engine, inspect
import pandas as pd

table = "players"
with open(f'{table}.pkl', 'rb') as handle:
    dict = pickle.load(handle)

df = pd.DataFrame(dict)
df.index = df.id
df.drop(columns=["id"], inplace=True)

In [17]:
df.head()

,display_name,birth_year,nationality,second_nationality,prefered_foot,position,full_name,height,weight
id,,,,,,,,,
1,Ander Astralaga,2004,Espanha,NA,Direito,Guarda Redes,Ander Astralaga Aranguren,190,82
2,arc-André ter Stegen,1992,Alemanha,NA,Direito,Guarda Redes,Marc-André ter Stegen,187,82
3,Iñaki Peña,1999,Espanha,NA,Direito,Guarda Redes,Ignacio Peña Sostres,184,78
4,Wojciech Szczesny,1990,Polónia,NA,Direito,Guarda Redes,Wojciech Tomasz Szczęsny,196,89
5,Diego Kochen,2006,Estados Unidos,Peru,Direito,Guarda Redes,Diego Kochen,188,80

In [18]:
df.birth_year = pd.to_numeric(df.birth_year)

In [19]:
engine = create_engine('postgresql://ruilucas:chuteiras@localhost:5432/Shots')

In [20]:
inspector = inspect(engine)

In [21]:
df.to_sql(table, con=engine, if_exists="append")

39