In [82]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#from bs4 import BeautifulSoup
import pickle 
import sqlalchemy as db

import traceback
import os

from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from time import sleep

In [9]:
my_user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36"
# Set up Chrome options
chrome_options = Options()
#chrome_options.add_argument("--headless")

# Set the custom User-Agent
chrome_options.add_argument(f"--user-agent={my_user_agent}")

In [87]:
db.MetaData()

MetaData()

In [96]:
user = "neondb_owner"
password = np.loadtxt("./neon_password.txt", dtype=str)
host = "ep-wild-night-a9bq078j-pooler.gwc.azure.neon.tech"
database = "xG"
engine = db.create_engine(f'postgresql://{user}:{password}@{host}/{database}')
conn = engine.connect()

In [114]:
meta_data = db.MetaData()
meta_data.reflect(bind=engine) #extracting the metadata
players = db.Table('players', meta_data, 
                   autoload_with=engine)
#print(repr(metadata.tables['players']))
print(players.columns.keys())

['id', 'display_name', 'nationality', 'second_nationality', 'prefered_foot', 'position', 'full_name', 'birth_year', 'height', 'weight']

In [126]:
query = db.select(db.func.count(players))
                    
print(query)

ArgumentError: SQL expression element expected, got Table('players', MetaData(), Column('id', INTEGER(), table=<players>, primary_key=True, nullable=False), Column('display_name', VARCHAR(length=255), table=<players>, nullable=False), Column('nationality', VARCHAR(length=255), table=<players>, nullable=False), Column('second_nationality', VARCHAR(length=255), table=<players>), Column('prefered_foot', VARCHAR(length=255), table=<players>, nullable=False), Column('position', VARCHAR(length=255), table=<players>, nullable=False), Column('full_name', VARCHAR(length=255), table=<players>), Column('birth_year', INTEGER(), table=<players>), Column('height', NUMERIC(), table=<players>), Column('weight', NUMERIC(), table=<players>), schema=None). To create a column expression from a FROM clause row as a whole, use the .table_valued() method.

In [121]:
try:
    exe = conn.execute(query) #executing the query
    result = exe.fetchmany(5) #extracting top 5 results
    print(result)
except:
    print(traceback.format_exc())
    conn.rollback()

[('Ander Astralaga Aranguren',), ('Ignacio Peña Sostres',), ('Wojciech Tomasz Szczęsny',), ('Diego Kochen',), ('Áron Yaakobishvili',)]

In [122]:
data = pd.DataFrame(result)
#data.columns = result[0].keys()
data

                   full_name
0  Ander Astralaga Aranguren
1       Ignacio Peña Sostres
2   Wojciech Tomasz Szczęsny
3               Diego Kochen
4         Áron Yaakobishvili